<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ana_ver_hash</key>
	<string>3.0.1.315</string>
	<key>last_st_time</key>
	<string>2017-06-26</string>
	<key>rqd.openuuid</key>
	<string>A0B2DA87-2B41-480C-8913-A3F542AC5889</string>
	<key>user_info_uploaed_day</key>
	<string>2017-06-26</string>
</dict>
</plist>
